<header>
    <img src="./logo.png" class="logo">
    <a href="/registration" class="btn-sign-in">Регистрация</a>
    <a href="/login" class="btn-login">Вход</a>
    <a href="/users" class="btn-users-list">Список пользователей</a>
</header>