<div class="content">
    <div>
        <h1>Добро пожаловать #{ userName }!!!</h1>     
    </div>
    <div class="images">
        <img src="./pixelart1.jpg">
        <img src="./pixelart2.jpg">
    </div>
    <div class="video">
        <iframe src="https://www.youtube.com/embed/ED8EGP0ceQk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/A-9Qm2hsypU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>