doctype html
html
head
    meta(charset="UTF-8")
    title Pixel Art
    link(rel="stylesheet", href="/home/home.css")
body
    include ../components/header/header.pug
    include ../components/content/content.pug